@model IQueryable<Report>
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div>
        <h3>Отчеты</h3>
        <div class="div-box">
            <a asp-controller="Reports" asp-action="Create">Создать</a>
             <br />
        </div>
        @if (Model.Any())
        {
            @foreach (Report entity in Model)
            {
                <div>
                    <a asp-controller="Reports" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a><br />
                    <a asp-controller="Items" asp-action="Create" asp-route-id="@entity.Id">Создать товары</a><br />
                    <a asp-controller="Items" asp-action="Edit" asp-route-id="@entity.Id">Редактировать товары</a><br />
                    @($"Начало периода - {entity.StartDate} ") | @($"Конец периода - {entity.EndDate} ") | @($"Адрес - {entity.Address} ") | @($"Кол-во позиций на складе - {entity.ItemsCount} ")
                    <br />
                    <br />
                </div>
            }
        }
    </div>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <div class="div-box">
        <form asp-controller="Account" asp-action="Login">
            <input type="submit" value="Войти" />
        </form>
    </div>
}